.casa{
    color: rgb(248, 232, 232);
    font-size: 8px;
   top: 60px;
   left: 60px;
    position: absolute;

}

.borde{
    left: 27px;
    margin-top: 40px;
    width: 300px;
    height: 120px;
    border:solid 3px rgb(75, 75, 75);
    position: relative;
    border-radius: 11px;
}

body{
    background-color: rgb(28, 28, 51);
}